html {
  box-sizing: border-box;
  line-height: 26px;
  font-family: "Proxima Nova",Arial,sans-serif,sans-serif;;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

button{
  border: none;
}